.is-opaque { opacity: .75 }
.is-invisible { opacity: 0 }

.overflow-visible { overflow: visible }

.m-auto { margin: auto }

.py5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.mh-100 { min-height: 100vh }

.is-centered {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}

.fit {
  max-width: 100%;
  max-height: 100%;
}
